@import "tailwindcss";
body{
   font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    background-color: rgba(122, 122, 122, 0.534);
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(87, 119, 161);
    border-radius: 10px;
}
.cursor{
    position: fixed;
    border-radius: 50%;
    z-index: 9;
    width: 10px;
    background-color:  rgb(12, 33, 61);
    height: 12px;
    width: 12px;
    box-shadow: 1px 1px 20px rgba(7, 81, 151, 0.623)
                0px 0px 60px rgba(7, 81, 151, 0.623)
                0px 0px 100px rgba(7, 81, 151, 0.623);
    display: none;
    margin: 15px;
    animation: move 3s infinite;
}
@keyframes move{
    0%{
        margin: 20px 10px 0px 0px;
    }
    25%{
        margin: 5px 0px 0px 20px;
    }
    25%{
        margin: 20px 10px 0px 0px;
    }
    75%{
        margin: 5px 0px 0px 20px;
    }
    100%{
        margin: 19px 10px 0px 0px;
    }

}

.cursor::before{
    content: "";
    position: absolute;
    border: 2px solid rgba(7, 81, 151, 0.623);
    width: 15px;
    height: 15px;
    transform: translate(-28%,-27%);
    padding: 24px;
    border-radius: 50%;
}

@media (pointer: coarse) {
  .cursor {
    display: none !important;
  }
}